# Airport

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore', message='.*Pyarrow.*')

/var/folders/bb/q1_d_djj4rz129pq4pvmzcx80000gn/T/ipykernel_36236/299627890.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Scenario 
You are an analyst employed by the U.S. Transportation Security Administration (TSA). Your
boss has asked you to produce a report that answers the following questions about insurance
claims against airports in the U.S.

In [2]:
my_file = 'tsa_claims1.csv'
df = pd.read_csv(my_file, low_memory=False)

In [3]:
# ensures the columns are of string type
df['Claim Amount'] = df['Claim Amount'].astype(str)
df['Close Amount'] = df['Close Amount'].astype(str)

# replaces any non-digit and non-decimal point characters with an empty string
df['Claim Amount'] = df['Claim Amount'].str.replace('[^\d.]', '', regex=True)
df['Close Amount'] = df['Close Amount'].str.replace('[^\d.]', '', regex=True)

# converts these columns to numeric type, coercing any non-convertible values to NaN
df['Claim Amount'] = pd.to_numeric(df['Claim Amount'], errors='coerce')
df['Close Amount'] = pd.to_numeric(df['Close Amount'], errors='coerce')

# If NaN values were introduced due to non-numeric data, you can decide how to handle them
# For example, you might fill them with 0 or some other appropriate value
df['Claim Amount'] = df['Claim Amount'].fillna(0)
df['Close Amount'] = df['Close Amount'].fillna(0)

# Data Cleaning

In [18]:
df['Date Received'] = pd.to_datetime(df['Date Received'], errors='coerce', format='%d-%b-%y')
df['Incident Date'] = pd.to_datetime(df['Incident Date'], errors='coerce', format='%d-%b-%y')

# Drop rows where 'Incident Date' is NaN
df.dropna(subset=['Incident Date'], inplace=True)

# Ensure the 'Claim Amount' and 'Close Amount' are treated as strings and clean them
df['Claim Amount'] = df['Claim Amount'].astype(str).str.replace('[^\d.]', '', regex=True)
df['Close Amount'] = df['Close Amount'].astype(str).str.replace('[^\d.]', '', regex=True)

# Convert cleaned string columns to numeric
df['Claim Amount'] = pd.to_numeric(df['Claim Amount'], errors='coerce')
df['Close Amount'] = pd.to_numeric(df['Close Amount'], errors='coerce')

# Fill NaN values resulted from the conversion with 0
df['Claim Amount'] = df['Claim Amount'].fillna(0)
df['Close Amount'] = df['Close Amount'].fillna(0)

df.dropna()

# Remove duplicates based on 'Claim Number'
df = df.drop_duplicates(subset=['Claim Number'])

AttributeError: module 'pandas' has no attribute 'dropna'

now we finished making an extensive cleaning of the data so that we can use

In [17]:
df.isnull().sum()

Claim Number         0
Date Received        0
Incident Date    94848
Airport Code         0
Airport Name         0
Airline Name         0
Claim Type           0
Claim Site           0
Item                 0
Claim Amount         0
Status               0
Close Amount         0
Disposition          0
dtype: int64

## Questions

### 1. What is the most common type of insurance claim?

In [5]:
claim_type_counts = df['Claim Type'].value_counts().reset_index()
claim_type_counts.columns = ['Claim Type', 'Count']

claim_type_counts

                Claim Type  Count
0  Passenger Property Loss  60265
1          Property Damage  33730
2          Passenger Theft    331
3   Employee Loss (MPCECA)    308
4          Personal Injury    208
5            Motor Vehicle      6

From what we can see the most common type of insurance claim is 'Passenger Property Loss' with 60,265 claims

## 2. Which claim site within the airport are claims most commonly filed for?

In [6]:
claim_site_counts = df['Claim Site'].value_counts().reset_index()
claim_site_counts.columns = ['Claim Site', 'Count']

claim_site_counts

        Claim Site  Count
0  Checked Baggage  80553
1       Checkpoint  14013
2            Other    280
3    Motor Vehicle      2

the claim site most commonly filed for are in the Checked Baggage site with 80,553 followed by Checkpoint

## 3. What type of claim is made most at each claim site?

In [7]:
most_common_claims_by_site_alternative = df.groupby('Claim Site')['Claim Type'].agg(pd.Series.mode).to_frame()


# Display the most common claim types by site
print(most_common_claims_by_site_alternative)

                              Claim Type
Claim Site
Checked Baggage  Passenger Property Loss
Checkpoint               Property Damage
Motor Vehicle    Passenger Property Loss
Other            Passenger Property Loss

most common claim at checked baggage is Passenger Property Loss, for checkpoint its Property Damage, for Motor Vehicle its Passenger Property Loss and for other its Passenger Property Loss

## 4. What is the typical claim amount?

In [13]:
# Calculate additional statistics for comparison
mean_claim_amount = df['Claim Amount'].mean()

# Round the calculated values to two decimal places
mean_claim_amount = round(mean_claim_amount, 2)

# Creates a DataFrame to display the calculated statistics as a table
claim_amount_statistics_table = pd.DataFrame({
    "Statistic": ["Mean"],
    "Claim Amount": [mean_claim_amount]
})
table_string = claim_amount_statistics_table.to_string(index=False)

print(table_string)

Statistic  Claim Amount
     Mean       3634.83

as we can see the typical or mean is $3634.83

### 5. What is the overall claim approval rate for the entire U.S.?

In [12]:

# Calculate the number of approved and unapproved claims
approved_claims = len(df[df['Status'] == 'Approved'])
unapproved_claims = len(df[df['Status'] != 'Approved'])

# Calculate the total number of claims
total_claims = len(df)

# Calculate the approval rate
approval_rate = round((approved_claims / total_claims) * 100, 2)

approval_table = pd.DataFrame({
    "Status": ["Approved", "Unapproved"],
    "Number of Claims": [approved_claims, unapproved_claims],
    "Approval Rate (%)": [approval_rate, 100 - approval_rate]
})

print(approval_table)

       Status  Number of Claims  Approval Rate (%)
0    Approved             23167              24.43
1  Unapproved             71681              75.57

overall approval rate is 24.43% this is after data cleaning for