# Brexit

## Tasks

### 1. Load the dataset into a DataFrame and display the first five rows of data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
myFile = 'BREXIT.csv'
df = pd.read_csv(myFile)
df.head()

   Unnamed: 0 intended vote  education  age
0           0         leave        3.0   60
1           1         leave        NaN   56
2           2          stay        5.0   73
3           3         leave        4.0   64
4           4    don't know        2.0   68

In [3]:
df.tail()

       Unnamed: 0 intended vote  education  age
30890       30890          stay        4.0   21
30891       30891         leave        NaN   18
30892       30892          stay        NaN   61
30893       30893          stay        3.0   18
30894       30894          stay        3.0   23

### 2. Create a new column (binary variable) “leave” that identifies the leave voters, i.e., assign 1 for intended vote = leave, assign 0 for intended vote = stay, and assign NA (missing) otherwise.

In [21]:
# Create the 'leave' column
df["leave"] = df["intended vote"].replace({"leave": 1, "stay": 0, "don\'t know": np.nan, "won\'t vote": np.nan})
df.head()

/var/folders/7j/3tzjnd7j7mx5xghn6kgtm__00000gn/T/ipykernel_85456/3095724074.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["leave"] = df["intended vote"].replace({"leave": 1, "stay": 0, "don\'t know": np.nan, "won\'t vote": np.nan})

   Unnamed: 0 intended vote  education  age  leave
0           0         leave        3.0   60    1.0
1           1         leave        NaN   56    1.0
2           2          stay        5.0   73    0.0
3           3         leave        4.0   64    1.0
4           4    don't know        2.0   68    NaN

### 3. Identify the number of observations, i.e., dimensions of the DataFrame

In [5]:
df.shape

(30895, 5)

### 4. Create a frequency table of for the “intended vote” column

In [6]:
frequency_table = df['intended vote'].value_counts()
frequency_table

intended vote
stay          14352
leave         13692
don't know     2314
won't vote      537
Name: count, dtype: int64

### 5. Create a relative frequency table of for the newly created binary variable “leave” including missing values

In [20]:
 df['leave'].value_counts(normalize=True,dropna=False)

leave
0.0    0.464541
1.0    0.443179
NaN    0.092280
Name: proportion, dtype: float64

### 6. By chaining the “isna” , “sum”, and “value counts” methods, display the number of missing values for each column

In [14]:
df.isna().sum().value_counts()

0       3
3425    1
2851    1
Name: count, dtype: int64

### 7. Calculate the mean of ”education” without removing missing values

In [18]:
df.education.mean()

3.2255915544230067

### 8. Calculate the mean of ”education” after removing missing values

In [30]:
education = df['education'].dropna().mean()
education

2.8680045314775855

### 9. Remove all missing values from the DataFrame and assign it to a new DataFrame by giving it appropriate name

In [32]:
# Remove all rows with missing values from the DataFrame
df_no_missing = df.dropna()
df_no_missing
# 'df_no_missing' is now the DataFrame with all missing values removed

       Unnamed: 0 intended vote  education  age  leave
0               0         leave        3.0   60    1.0
1               1         leave        0.0   56    1.0
2               2          stay        5.0   73    0.0
3               3         leave        4.0   64    1.0
5               5          stay        4.0   85    0.0
...           ...           ...        ...  ...    ...
30890       30890          stay        4.0   21    0.0
30891       30891         leave        0.0   18    1.0
30892       30892          stay        0.0   61    0.0
30893       30893          stay        3.0   18    0.0
30894       30894          stay        3.0   23    0.0

[28044 rows x 5 columns]

### 10. Create a contingency table (or cross–tabulation) using ”leave” as row and ”education” as column from the DataFrame without missing valves

In [35]:
# Create a contingency table with "leave" as rows and "education" as columns
contingency_table = pd.crosstab(df_no_missing[df_no_missing['intended vote'] == 'leave']['intended vote'], 
                                df_no_missing['education'])

# Display the contingency table
contingency_table

education       0.0   1.0   2.0   3.0   4.0  5.0
intended vote
leave          1849  1356  3388  2685  3783  631

### 11. Create a relative frequency contingency table (or cross–tabulation) using ”leave” as row and ”education” as column from the DataFrame without missing valves

In [37]:
relative_frequency_table_leave = pd.crosstab(df_no_missing[df_no_missing['intended vote'] == 'leave']['intended vote'], 
                                             df_no_missing['education'],
                                             normalize='index')
relative_frequency_table_leave

education           0.0       1.0       2.0     3.0       4.0       5.0
intended vote
leave          0.135042  0.099036  0.247444  0.1961  0.276293  0.046085